body{
    background-color: skyblue;
}

#container{
    width: 960px;
    margin: 0 auto;
}

header{
    margin-bottom: 1em;
    display: flex;
}

header a{
    flex: 1;
}

header a img{
    width: 76%;
}

header h1{
    font-size: 3em;
    color: white;
    flex: 5;
    text-align: center;
}

footer{
    text-align: center;
    background-color: rgb(93, 151, 236);
    font-weight: bold;
    padding: 0.1em;
    margin-top: 1em;
}

p , dl , ol{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 , h3{
  text-decoration: underline;
}

.livres-populaires{
    display: flex;
}

.livre{
  flex: 1;
  border: 1px solid green;
  margin: 0 1em;                 
  padding: 1em;
  border-radius: 3em;
}

.livre h3{
    text-align: center;
}

.livres-populaires img{
    width: 12em;
    height: 18em;
    display: block;
    margin: auto;
}

form {
    margin: 0 auto;     /*style pour le formulaire*/
    width: 25em;
    padding: 1em;
    border: 1px solid green;
    border-radius: 1em;
  }

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
}
  
.button {
    padding-left: 90px; 
}
  
button {
    margin-left: .5em;
}

.evenements{
    display: flex;
}

.evenements img{
    width: 50%;
}

:root{
    --hauteur-menu: 60px;
  }
  
  
  nav {
    width: 100%;      /*style pour le menu*/
    font-size: 18px;
    position: sticky;
    top: 0;
  }
  
  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }
  
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .principal > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  
  .principal:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  .secondaire {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
  }
  
  .principal:hover > .secondaire {
    animation: apparitionSousMenu 1s forwards;
  }
  
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  
  nav li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .secondaire > li > a {
    align-items: center;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
  }

.oeuvre{
  display: flex;
}

.oeuvre img{
  width: 4em;
  flex: 1;
  margin: 0 1em;
}